body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333333;
  display: flex;
  justify-content: center;
  margin-top: 50vh;
  transform: translateY(-50%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculator{
  background: #202020;
  padding: 30px;
  box-sizing: border-box;-webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000;
}
#screen{
  width: 100%;
  height: 50px;
  padding: 10px 20px 10px 10px;
  margin: 10px;
  color: #ffffff;
  font-size: 30px;
  text-align: right;
  box-sizing: border-box;
  
}
.buttonsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 5px;
}
.bttn{
  height: 50px;
  width: 50px;
  margin: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  background: #1a1a1a;
  color:#FFF;
}
.bttn:hover{
  background: #131313;
}
.bttn-equal{
  background: #9858b8;
}
.bttn-equal:hover{
  background-color: #7b3f99;
}
