body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00001a;
  background-repeat: no-repeat;
  background-size: cover;
  color: #d19e1d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#screen
{
  background-image: url(img/board_simple_version.png);
  width: 75%;
  height: 650px;
  display: inline-block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 10px;
}

#board
{
  position: relative;
  border: 2px solid black;
  width: 69%;
  height: 500px;
  position: fixed;
  margin-left: 200px;
  margin-top: 72px;
  display: inline-block;
}
